<html>
    <body>
        <table>
            <tr>
                <th>User</th>
                <th>Company</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.User.Name }}</td>
                    <td>{{ user.Company }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>